/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Space Grotesk', sans-serif;
}

.button-primary {
  background-color: #460252;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 16px;
}

.button-primary:hover {
  background-color: #700183;
}

