/* You can add global styles to this file, and also import other style files */
html {
  background: linear-gradient(to left, #FFFFFF 0%, #FFFFFF 60%, transparent 60%, transparent 100%),
                linear-gradient(to right, rgb(70, 2, 82), transparent);
  background-blend-mode: normal;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.button-primary {
  background-color: #460252;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 16px;
}

.button-primary:hover {
  background-color: #700183;
}

