.CardForm-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 8px;
    padding: 6px;
}

.CardForm-row-multi {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 8px;
}

.CardForm-row {
    display:grid;
    grid-template-columns: 1fr;
    gap: 8px;
    margin-bottom: 16px;
}

.CardForm-label {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Ubuntu', serif;
    font-size: 12px;
    color: #560c67;
}

.CardForm-input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #76057b;
}

.CardForm-input:focus {
    border: 2px solid #ae00b6;
}

.CardForm-label-error {
    color: #f05858
}


/* Consulta de medios para pantallas de hasta 768px */
@media (max-width: 768px) {
    .CardForm-row-multi {
        grid-template-columns: 1fr;
    }
}

/* Consulta de medios para pantallas de hasta 480px */
@media (max-width: 480px) {
    .CardForm-row {
        grid-template-columns: 1fr;
    }
}




