<div class="CardForm-container">
    <section class="CardForm-row">
        <label for="" class="CardForm-label">Cardholder name</label>
        <input class="CardForm-input" placeholder="e.g. Jane Appleseed"/>
        <small class="CardForm-label-error">Can`t blank</small>
    </section>
    <section class="CardForm-row">
        <label for="" class="CardForm-label">Card number</label>
        <input class="CardForm-input" placeholder="e.g. 1234 5678 9123 1234"/>
        <small class="CardForm-label-error">Can`t blank</small>
    </section>
    <section class="CardForm-row-multi">
        <div>
            <label for="" class="CardForm-label">Exp.date</label>
            <input class="CardForm-input" placeholder="MM" />
            <small class="CardForm-label-error">Can`t blank</small>
        </div>
        <div>
            <label for="" class="CardForm-label">(MM / YYYY)</label>
            <input class="CardForm-input" placeholder="YYYY"/>
            <small class="CardForm-label-error">Can`t blank</small>
        </div>
        <div>
            <label for="" class="CardForm-label">CVC</label>
            <input class="CardForm-input" placeholder="e.g. 123"/>
            <small class="CardForm-label-error">Can`t blank</small>
        </div>
    </section>
    <section class="CardForm-row">
        <button class="CardForm-button">Confirm</button>
    </section>
</div>
