<section class="CardBack_container">
    <div class="CardBack_row_top">
        <section class="CardBack_banner"></section>
        <section class="CardBack_banner_secury">
            <p class="CardBack_number">000</p>
        </section>
        <section class="CardBack_banner_text">
            <div class="CardBack_row_paragraph_one">
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
            </div>
            <div class="CardBack_row_paragraph_two">
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
            </div>
            <div class="CardBack_row_paragraph_three">
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
                <p class="CardBack_lines"></p>
            </div>
        </section>
    </div>
</section>
