<section class="card-back--container">
    <aside class="card-back--card">
        <div class="card-back--header"></div>
        <div class="card-back--body">
            <p>{{cvc}}</p>
        </div>
        <div class="card-back--footer">
            <div class="card-back--paragraph__one">
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
            </div>
            <div class="card-back--paragraph__two">
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
            </div>
            <div class="card-back--paragraph__three">
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
                <p class="card-back--lines"></p>
            </div>
        </div>
    </aside>
</section>
