
.card-front--container {
    position: absolute;
    width: 100%;
    height: 200px;

    z-index: 1;

    top: 125px;
}

.card-front--card {
    width: 230px;
    height: 150px;

    background-image: radial-gradient(circle at 20.66% 112.93%,
    #dd4873 0, #d73e7a 8.33%, #cf3281 16.67%, #c42687 25%,
    #b71a8e 33.33%, #a60e95 41.67%, #92059b 50%, #7908a1 58.33%,
    #5a13a8 66.67%, #261dae 75%, #0025b4 83.33%, #002cb8 91.67%, #0030bb 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    padding: 15px 20px;

    margin: 0 auto;
}

.card--header {
    display: flex;
    justify-content: flex-start;
}

.card-header--circle__lg {
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    width: 24px;
    height: 24px;
    border-color: white;
}

.card-header--circle__xs {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    width: 10px;
    height: 9px;
    margin: 10px;
    align-self: center;
}

.card--body {
    display: flex;
    justify-content: center;
    
    padding: 40px 0 10px 0;
}

.card--body p {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 3px;
}

.card--footer {
    display: flex;
    justify-content: space-between;

    color: white;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}


@media only screen and (max-width: 2560px) and (min-width:1024px) {

    .card-front--container {
        width: 40%;
    }

    .card-front--card {
        margin-left: calc(50% - 120px) ;
        
        width: 347px;
        height: 244px;

        padding:    20px;
    }

    .card-header--circle__lg {
        width: 50px;
        height: 50px;
    }

    .card-header--circle__xs {
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .card--body {
        padding: 50px 0 40px 0;
    }

    .card--body p {
        font-size: 2rem;
    }

    .card--footer {
        font-size: 1.4rem;
    }

}