<section class="CardFront_container">
    <div class="CardFront_row_top">
        <div class="CardFront_circle_lg"></div>
        <div class="CardFront_circle_xs"></div>
    </div>
    
    <div class="CardFront_row_middle">
        <p class="CardFront_number_main">0000</p>
        <p class="CardFront_number_main">0000</p>
        <p class="CardFront_number_main">0000</p>
        <p class="CardFront_number_main">0000</p>
    </div>
    <div class="CardFront_row_bottom">
        <p class="CardFront_description">franco aguirre ava.</p>
        <p class="CardFront_description">00/00</p>
    </div>
</section>
