<section class="card-front--container">
    <aside class="card-front--card">
        <div class="card--header">
            <aside class="card-header--circle__lg"></aside>
            <aside class="card-header--circle__xs"></aside>
        </div>
        <div class="card--body">
            <p>{{card?.number}}</p>
        </div>
        <div class="card--footer">
            <p>{{card?.name || '' | truncateText: 20 }}</p>
            <p>{{card?.month}}/{{card?.year}}</p>
        </div>
    </aside>
</section>