.CardFront_container {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    padding: 15px 20px;
    width: 310px;
    height: 205px;
    max-height: 205px;
    min-width: 310px;
    background-image: radial-gradient(circle at 20.66% 112.93%,
    #dd4873 0, #d73e7a 8.33%, #cf3281 16.67%, #c42687 25%,
    #b71a8e 33.33%, #a60e95 41.67%, #92059b 50%, #7908a1 58.33%,
    #5a13a8 66.67%, #261dae 75%, #0025b4 83.33%, #002cb8 91.67%, #0030bb 100%);
    border-radius: 10px;
    margin-bottom: 24px;
}

.CardFront_row_top {
    display: flex;
    justify-content: start;
}


.CardFront_circle_lg {
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    width: 24px;
    height: 20px;
    border-color: white;
    margin: 10px;
}

.CardFront_circle_xs {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    width: 10px;
    height: 9px;
    margin: 10px;
    align-self: center;
}

.CardFront_row_middle {
    display: flex;
    justify-content: space-between;
}

.CardFront_number_main {
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
}

.CardFront_row_bottom {
    display: flex;
    justify-content: space-between;
}

.CardFront_description {
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}