.App_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100vh;
    padding: 20px;
    margin: 50px;
}

.App_section_card_top {
    display: flex;
    justify-content: center;
}

.App_section_card_bottom {
    display: flex;
    justify-content: end;
}

.App_container_right {
    display: flex;
    justify-content: center;
    padding: 85px;
}